<ion-view title="登录">
  <ion-nav-bar class="bar-dark nav-title-slide-ios7" style="" >
     
  </ion-nav-bar>
  <div  style="position: absolute;top: 43px;z-index:100;display: block;height: 2px;background-color: #33cd5f;{{barwidth}}" ></div>
  <ion-content padding="true"  style=" padding-left:10%;padding-right:10%;background : -webkit-linear-gradient(bottom, rgb(101, 98, 160) 00%, rgb(0, 0, 0) 99%);">
   <!--  <div class="row" >
      <div class="col text-center" >
        <div style="max-width:500px"> -->
          <div class="row text-center" style="min-height:100px">
            
          </div>
          <div class="list list-inset" style="margin-bottom:0">
            <label class="item item-input" >
              <span class="input" style="margin-right:16px"><i class="icon ion-person"></i></span>
              <input type="tel"  ng-model="logOn.username" placeholder="手机号" >
            </label>
            <label class="item item-input">
              <span class="input" style="margin-right:16px"><i class="icon ion-locked"></i></span>
              <input type="password" ng-model="logOn.password" placeholder="密 码" >
            </label>
          </div>
          <div class="row" style="padding:0" >
            <div class="col col-75"><p style="color:#B8B8B8">{{logStatus}}</p></div>
            <div class="col "><p style="color:#9999cc;text-align:right" ng-click="toReset()">忘记密码</p></div>
          </div>

          <button style="margin-top:0" class="button button-block button-assertive" ng-click="signIn(logOn)">立即登录</button>
  <!--       </div>
      </div>
    </div> -->
           
  </ion-content>
          
  <div  class="text-center hide-on-keyboard-open" style="position:absolute;bottom:0px;width:100%;min-height:10%">
    <span style="color:#9999cc">还没有帐号？</span><span style="color:#FFFFFF" ng-click="toRegister()">注册</span>

  </div>
</ion-view>