      <ion-view title="修改密码">
        <ion-nav-bar class="bar-stable nav-title-slide-ios7">
          <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-arrow-left-a " ng-click="onClickBackward()"></button>
          </ion-nav-buttons>
        </ion-nav-bar>
        <div  style="position: absolute;top: 43px;z-index:100;display: block;height: 2px;background-color: #33cd5f;{{barwidth}}" ></div>
        <ion-content padding="true">
         <div ng-hide="!ishide" class="list" >

            <label  class="item item-input">  
              <input type="password" placeholder="请验证旧密码" ng-model="change.oldPassword">
            
            </label>
            <button  class="button button-block " ng-click="passwordCheck(change)">
              验证
            </button>
            <p style="color:#c55e19">{{logStatus1}}</p>

        </div>
        
          <div ng-hide="ishide" class="list">
            <label class="item item-input">
              
              <input type="password" placeholder="新密码" ng-model="change.newPassword">
            </label>
            <label class="item item-input">
              
              <input type="password" placeholder="确认新密码" ng-model="change.confirmPassword">
            </label>
            <button class="button button-block " ng-click ="gotoChange(change)">修改</button>
            <p style="color:#c55e19">{{logStatus2}}</p>
          </div>

        </ion-content>
      </ion-view>