
<ion-view view-title="记录" >


    <ion-content class="padding">
  <style>
.header .col {
  background-color:lightgrey;
}
.header .col-10 {
  background-color:lightgrey;
  padding-bottom: 5px;padding-left: 5px;padding-right: 5px;padding-top: 5px;
}
.header .col-25 {
  background-color:lightgrey;
    padding-bottom: 5px;padding-left: 5px;padding-right: 5px;padding-top: 5px;
}

.col-10 {
  border: solid 1px grey;
  border-right-style: none;
  padding-bottom: 5px;padding-left: 5px;padding-right: 5px;padding-top: 5px;
}
.col-25 {
  border: solid 1px grey;
  border-right-style: none;
  padding-bottom: 5px;padding-left: 5px;padding-right: 5px;padding-top: 5px;
}
.col {
  border: solid 1px grey;
  border-right-style: none;
}

.col:last-child {
  border-right: solid 1px grey;
}

.row:last-child .col {
  border-bottom: solid 1px grey;
}
.span-no-padding{
  padding:0;
}
  </style>
  <div class="button-bar bar-light">
          <a class="button " href="#/tab/targetGraph" >依从率图</a>
          <a class="button button-energized" href="#/tab/recordList">体征表</a>
          <!-- <a class="button " href="#/tab/target/graph" >依从率图</a>
          <a class="button button-energized" href="#/tab/target/recordList">体征表</a> -->
  </div>

<div class="row">
          <div class="col" >
            <span  style="width:100%" class="input-label span-no-padding">开始日期</span> 
          </div>  
          <div class="col"  ng-click="setStart()" style="background:#97CBFF;color:#FFF">
               <ionic-datepicker input-obj="datepickerObject"> 
               <span class="span-no-padding">
                {{StartDate}}
                </span>
             </ionic-datepicker> 
         </div>
         <div class="col">
            <span  style="width:100%"class="input-label span-no-padding">结束日期</span> 
          </div>
          <div class="col" ng-click="setEnd()"  style="background:#97CBFF;color:#FFF">
              <ionic-datepicker input-obj="datepickerObject">
               <span class="span-no-padding">
                {{EndDate}}
                </span>
             </ionic-datepicker>
         </div>
        </div>
     <br>
      <div class="row header" >
          <div class="col-25" style="text-align:center">日期</div>
          <div class="col" style="text-align:center">时间</div>
          <div class="col-25" style="text-align:center">体征</div>
          <div class="col-10" style="text-align:center">值</div>
          <div class="col" style="text-align:center">单位</div>
        </div>
        <div class="row" ng-repeat="Sign in SignDetailByDs|orderBy :'-RecordDate' ">
          <div class="col-25" style="text-align:center">{{Sign.RecordDate}}</div>
          <div class="col" style="text-align:center">{{Sign.RecordTime}}</div>
          <div class="col-25" style="text-align:center"> {{Sign.Name}}</div>
          <div class="col-10" style="text-align:center">{{Sign.Value}}</div>
          <div class="col" style="text-align:center">{{Sign.Unit}}</div>
        </div>
        <button class="button button-calm button-full" ng-click=loadMore()>
      {{status}}
    </button>
     <div ng-if="show_recordList" >
        <p style="color:#97CBFF;text-align:center;margin-top:20px;">此时间段没有数据！</p>
     </div>
        <ion-refresher
            pulling-text="下拉刷新。。。"
            spinner='ripple'
            refreshing-text="努力加载中"
            on-refresh="doRefresh()  ">
        </ion-refresher>
      
  </ion-content>
</ion-view>
