<ion-view view-title="评论" hide-nav-bar="true">
  <ion-content>
    <div class="bar bar-calm item-input-inset">
     <button class="button button-icon icon ion-ios-arrow-left" ng-click="nvGoback()">返回</button> 
     <h1 class="title">发表评论</h1>
    </div>
<style>.ionic_ratings .icon {
  font-size:50px;
}

.ionic_ratings .read_only {
  pointer-events:none;
}</style>
<div class="list list-inset">
  <div class="item item-divider"> 评分</div> 
<div class="item"><ionic-ratings ratingsobj='ratingsObject'></ionic-ratings> </div>
</div>

    <div class="list list-inset">
      <div class="item item-divider"> 评论</div> 
      <label class="item item-input"><i class="icon ion-android-create placeholder-icon"></i>
        <textarea placeholder="说说您对该专员的评价，至少15个字哦" rows="3" ng-model="comment.commentContent"></textarea>
      </label>
    </div>

    <div class="list list-inset">
    <button class="button button-block button-calm" ng-click="deliverComment()">发表</button>
    </div>

  </ion-content>
</ion-view>
